.top-left::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-left: 20px solid $color-background-darker;
    border-bottom: 20px solid transparent;
}

.top-left::after {
    position: absolute;
    top: 20px;
    right: 30px;
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid $color-black;
}

.bottom-right::before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    border-top: 20px solid transparent;
    border-right: 20px solid $color-background-darker;
}

.bottom-right::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    border-right: 10px solid transparent;
    border-top: 10px solid $color-black;
}

.top-right::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-right: 20px solid $color-background-darker;
    border-bottom: 20px solid transparent;
}

.top-right::after {
    position: absolute;
    top: 20px;
    right: -10px;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-black;
}

.bottom-left::before {
    position: absolute;
    top: 10px;
    left: 0px;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 20px solid $color-background-darker;
}

.bottom-left::after {
    position: absolute;
    top: 30px;
    left: 20px;
    content: "";
    border-right: 10px solid $color-black;
    border-bottom: 10px solid transparent;
}

.angle-top {
    position: relative;
}

.angle-top::after {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-black;
    z-index: 6;
}

.angle-top::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    border-right: 20px solid $color-background-darker;
    border-bottom: 20px solid transparent;
    z-index: 6;
}

.angle-right {
    position: relative;
}

.angle-right::before {
    position: absolute;
    top: 30px;
    left: 10px;
    content: "";
    border-right: 20px solid $color-background-darker;
    border-bottom: 20px solid transparent;
    z-index: 6;
}

.angle-bottom {
    position: relative;
}

.angle-bottom::before {
    position: absolute;
    top: 10px;
    left: 30px;
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 20px solid $color-background-darker;
    z-index: 6;
}

.angle-bottom::after {
    position: absolute;
    top: 30px;
    left: 30px;
    content: "";
    border: 5px solid $color-background-darker;
    z-index: 6;
}

.angle-left {
    position: relative;
}

.angle-left::before {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    border-right: 30px solid $color-black;
    border-bottom: 30px solid $color-background-darker;
    z-index: 6;
}

.angle-left::after {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    border-left: 10px solid $color-background-darker;
    border-bottom: 10px solid $color-black;
    z-index: 6;
}

.angle-left0 {
    position: relative;
}

.angle-left0::before {
    position: absolute;
    top: -60px;
    left: -10px;
    content: "";
    border-right: 30px solid transparent;
    border-bottom: 30px solid $color-background-darker;
    z-index: 6;
}
